<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">
                        <i>* Informações de hoje!</i>
                    </div>
                    <div class="row">
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-phone-circle bg-c-blue card1-icon"></i>
                                    <a href="">
                                        <span class="text-c-blue f-w-600">Contatos</span>
                                    </a>
                                    <h4>12</h4>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-check-circled bg-c-green card1-icon"></i>
                                    <a href="">
                                        <span class="text-c-green f-w-600">Vendas</span>
                                    </a>
                                    <h4>5</h4>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-not-allowed bg-c-pink card1-icon"></i>
                                    <a href="">
                                        <span class="text-c-pink f-w-600">Rejeições</span>
                                    </a>
                                    <h4>5</h4>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-address-book bg-c-yellow card1-icon"></i>
                                    <a href="">
                                        <span class="text-c-yellow f-w-600">Pendentes</span>
                                    </a>
                                    <h4>2</h4>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
