{% load crispy_forms_tags %}
<!-- Table Start -->
<div class="col-md-12 col-xl-8">
    <div class="table-responsive">
        <form method="GET">
            <p>
            {{ filter.form|crispy }}
            <input type="submit" class="btn btn-primary" value="Buscar agendamentos">
            </p>
        </form><br>
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Horário</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in filter.qs %}
                <tr>
                    <td>{{agendamento.nome}}</td>
                    <td>{{agendamento.horário}}</td>
                    <td>
                        <a href="{% url 'atualizar_contato' agendamento.id %}">
                            <input type="submit" class="btn btn-outline-primary btn-sm" value="Editar">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'deletar_contato' agendamento.id %}">
                            <input type="submit" class="btn btn-outline-danger btn-sm" value="Deletar">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>