{% extends 'base.html' %}

{% load static %}



{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class=" icofont icofont-businessman bg-c-blue"></i>
                                <div class="container">
                                    <h4>Jon Snow</h4>
                                    <br>
                                    <p>
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <address>
                                                    <h3><b class="text-danger">Curso de interesse: <b>Mecânica</b></b></h3>
                                                    <br>
                                                    <p><b>Telefone: </b>2188772122</p>
                                                    <p><b>Email: </b>2188772122</p>
                                                    <p><b>Observações do atendimento: </b>
                                                    <br>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                    </p>
                                                        
                                                </address>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>



{% endblock %}    