{% extends 'base.html' %}

{% load static %}



{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont icofont icofont-file-document bg-c-pink"></i>
                                <div class="d-inline">
                                    <h4>Sample Page</h4>
                                    <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                    <br>
                                    <p>
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <address>
                                                    <h3> &nbsp;<b class="text-danger">Material Pro Admin</b></h3>
                                                    <p class="text-muted m-l-5">E 104, Dharti-2,
                                                        <br/> Nr' Viswakarma Temple,
                                                        <br/> Talaja Road,
                                                        <br/> Bhavnagar - 364002</p>
                                                </address>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>



{% endblock %}    