{% extends 'base.html' %}

{% load static %}



{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class=" icofont icofont-businessman bg-c-blue"></i>
                                <div class="container">
                                    <h4>{{contato.nome}} {{contato.sobrenome}}</h4>
                                    <br>
                                    <p>
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <address>
                                                    <h3><b class="text-danger">Curso de interesse: <b>{{contato.curso_desejado}}</b></b></h3>
                                                    <br>
                                                    <p><b>Telefone: </b>{{contato.telefone}}</p>
                                                    <p><b>Email: </b>{{contato.email}}</p>
                                                    <p><b>Descrição do atendimento: </b>
                                                    {{contato.descrição_do_atendimento}}
                                                    <br>
                                                    </p>
                                                        
                                                </address>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>



{% endblock %}    