{% extends 'base.html' %}

{% load static %}



{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class=" icofont icofont-businessman bg-c-blue"></i>
                                <div class="container">
                                    {% for venda in vendas %}
                                    <h4>{{venda.cliente}}</h4>
                                    <br>
                                    <p> 
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <address>
                                                    <h3><b class="text-danger">Curso comprado:<b> {{venda.curso_comprado}}</b></b></h3>
                                                    <br>
                                                    <p><b>Vendedor: </b>{{venda.atendente}}</p>
                                                    <p><b>Forma de pagamento:</b> {{venda.forma_de_pagamento}}</p>
                                                    <p><b>Descrição da venda:</b><br>
                                                    {{venda.observações}}
                                                    </p>
                                                    {% endfor %} 
                                                </address>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>



{% endblock %}   