{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="table-responsive">
                <br>
                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">
                    <i>* Mantenha o cadastro de contatos sempre atualizado!</i>
                </div><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Curso</th>
                            <th>Forma de pagamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venda in vendas %}
                        <tr>
                            <td>
                                <a href="{% url 'visualizar_venda' venda.id %}">
                                    {{venda.id}}
                                </a>
                            </td>
                                <td>
                                    <a href="{% url 'visualizar_venda' venda.id %}">
                                        {{venda.cliente}}
                                    </a>
                                </td>
                            <td>{{venda.atendente}}</td>
                            <td>{{venda.curso_comprado}}</td>
                            <td>{{venda.forma_de_pagamento}}</td>        
                            <td>
                                <input type="submit" class="btn btn-outline-primary btn-sm" value="Atualizar">
                            </td>
                            <td>
                                <input type="submit" class="btn btn-outline-danger btn-sm" value="Deletar">

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>
{% endblock %}    




