{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="table-responsive">
                <br>
                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">
                    <i>* Mantenha o cadastro de contatos sempre atualizado!</i>
                </div><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Telefone</th>
                            <th>CPF</th>
                            <th>Curso desejado</th>
                            <th>Origem</th>
                            <th>Atualizar</th>
                            <th>Deletar</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for contato in contatos %}
                        <tr>
                            <td>
                                <a href="{% url 'visualizar_contato' contato.id %}">
                                    {{contato.id}}
                                </a>
                            </td>
                                <td>
                                    <a href="{% url 'visualizar_contato' contato.id %}">
                                        {{contato.nome}}
                                    </a>
                                </td>
                            <td>{{contato.sobrenome}}</td>
                            <td>{{contato.telefone}}</td>
                            <td>{{contato.cpf}}</td>
                            <td>{{contato.curso_desejado}}</td>
                            <td>{{contato.origem}}</td> 
                            <td>
                                <a href="{% url 'atualizar_contato' contato.id %}">
                                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Editar">
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'deletar_contato' contato.id %}">
                                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Deletar">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>
{% endblock %}    




