{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    CRM - Smart Treinamentos 
{% endblock %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">
                        <div class="card">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <div class="card-body">
                                    
                                    <div class="text-center">
                                        <h4 class="card-title">Atendimento presencial</h4>
                                    </div><br>
                                    <div class="form-group row">
                                        <div class="container">
                                            {{form|crispy}}
                                           </div>
                                    </div>
                                <div class="border-top text-center">
                                    <div class="card-body">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Agendar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}   

